#grid {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  background-color: rgb(240, 224, 255);
}

h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  background-color: antiquewhite;
}

h1 > a {
  color: rgb(124, 26, 124);
  text-shadow: 4px 4px 4px rgb(118, 118, 118);
  text-decoration: none;
}

a {
  color: rgb(124, 26, 124);
  text-decoration: none;
}
.menu {
  width: 200px;

  font-size: 35px;
  margin: 0;
  padding-right: 15px;
  padding-top: 20px;

  color: rgb(118, 118, 118);
  list-style-type: circle;
}

#menugrid {
  border-right: 1px solid black;
}
li {
  padding: 20px;
}
#click {
  font-size: 20px;
  margin-top: 200px;
}

ul > span {
  font-size: 30px;
  justify-content: flex-start;
  padding-top: 20px;
}

#content {
  font-size: 25px;
}

#map {
  font-size: 30px;
  justify-content: flex-start;
}
