#dasik-grid {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  background-color: rgb(240, 224, 255);
}

h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  background-color: antiquewhite;
}
#menugrid {
  border-right: 1px solid black;
}
h1 > a {
  color: rgb(124, 26, 124);
  text-decoration: none;
}
a {
  color: rgb(118, 118, 118);
  text-decoration: none;
}
ul {
  width: 150px;
  height: 70px;
  font-size: 25px;
  margin: 0;
  padding-right: 15px;
  padding-top: 15px;
  color: rgb(118, 118, 118);
  list-style-type: circle;
}
.order-way {
  margin-left: 50px;
  font-size: 30px;
}

.sns {
  display: flex;
  justify-items: center;
  text-align: center;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 15px;
}
#order {
  font-size: 35px;
  text-align: center;
}
